<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/themes/base/bootstrap.css")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/bootstrap.js")
</head>
<body>

    @{Html.RenderPartial("MenuNav");}

    <div class="container-fluid">
      <div class="row-fluid"><br /><br /><br />
        <div class="span2 well">
          This is text
        </div>
        <div class="span9 well">
          @RenderBody()
        </div>
      </div>
    </div>

</body>
</html>
